/* Global Styles */
:root {
  --primary-color: #41b883;
  --primary-color-hover: #238f5e;
  --primary-color-active: #18734a;
  --background-color: #1a1a1a;
  --background-color-2: #202020;
  --background-color-3: #303030;
  --text-color: #fff;
  --text-color-disabled: #6e6e6e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: sans-serif;
}

.btn {
  border: none;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding-inline: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color-hover);
}

.btn-primary:active {
  background-color: var(--primary-color-active);
}

.btn-secondary {
  background-color: transparent;
}

.btn-secondary:hover {
  background-color: var(--primary-color);
}

.btn-secondary:active {
  background-color: var(--primary-color-active);
}

.btn-secondary[disabled],
.btn-secondary[disabled] .button-text {
  cursor: default;
  color: var(--text-color-disabled);
}

.btn-secondary[disabled]:hover {
  background-color: transparent;
}

.spacer {
  width: 100%;
}
