/* Global Styles */
:root {
  --primary-color: #41b883;
  --primary-color-hover: #238f5e;
  --primary-color-active: #18734a;
  --background-color: #1a1a1a;
  --background-color-2: #202020;
  --background-color-3: #303030;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: sans-serif;
}

.btn {
  border: none;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding-inline: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color-hover);
}

.btn-primary:active {
  background-color: var(--primary-color-active);
}

.btn-secondary {
  background-color: transparent;
}

.btn-secondary:hover {
  background-color: var(--primary-color);
}

.btn-secondary:active {
  background-color: var(--primary-color-active);
}

.btn-secondary[disabled] {
  cursor: default;
}

.btn-secondary[disabled]:hover {
  background-color: transparent;
}

.spacer {
  width: 100%;
}

/* Splitpane package styles */
.splitpanes {
  background-color: var(--background-color);
}

.splitpanes__splitter {
  background-color: var(--background-color-3);
  position: relative;
}
.splitpanes__splitter:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.4s;
  background-color: var(--primary-color);
  opacity: 0;
  z-index: 1;
}
.splitpanes__splitter:hover:before {
  opacity: 1;
}
.splitpanes--vertical > .splitpanes__splitter:before {
  left: -2px;
  right: -2px;
  height: 100%;
}
.splitpanes--horizontal > .splitpanes__splitter:before {
  top: -2px;
  bottom: -2px;
  width: 100%;
}
